# 1. Data Structures
Definition of the main variables: `inventory`, `clients`, and `total_sales`.

In [52]:
# 1. Inventory
inventory = [] # Initialize as an empty list

print(type(inventory)) # It will eventually contain dictionaries with keys: name, price, quantity

<class 'list'>

In [ ]:
# 2. Clients 
clients = {} # Initialize as an empty dictionary

print(type(clients)) # Key: Client Name (str) -> acts as the unique identifier
# Value: dictionary with keys 'email' (str) and 'purchases' (list)

<class 'dict'>

In [ ]:
# 3. Total Sales
total_sales = 0.0 

print(type(total_sales)) # Initialize as a float to handle currrency decimals. Starts at 0

<class 'float'>

# 2. Functions
Implementation of the inventory management system.

## 2.1 Add Product
Function: `add_product(product_name, price, quantity)`

In [3]:

inventory = []

In [4]:
def add_product(product_name: str, price: float, quantity: int): # 0. Adds a product to the inventory
    
    if not isinstance(product_name, str) or not isinstance(price, (float, int)) or not isinstance(quantity, int): # 1. Validation: ensure types are correct to prevent data corruption
        return "Error: Invalid data types. Expected: name(str), price(float or int), quantity(int)."
    
    product_name = product_name.lower() # 2. Normalization step: convert to lowercase

    for product in inventory: # 3. Check if product exists in inventory running all the list
        if product.get("name") == product_name: # 3.1. If the product already exists (matching name)
            product["quantity"] += quantity  # 3.2. Updates the quantity
            return f"Updated {product_name} quantity. New total: {product['quantity']}" # 3.3. Returns an updating message and stop the function
    
    # 4. If the loop finishes without finding the product, add new one 
    new_product = {"name": product_name, "price" : float(price), "quantity" : quantity} # 4.1. Normalization step: convert price to float to maintain data consistency
    inventory.append(new_product)
    return f"Added new product: {product_name}" # 4.2. Return the success message

In [5]:
#-----TEST AREA-----
inventory.clear() # clear inventory to ensure a clean state before testing

In [6]:
add_product("skirt", 25.00, 10)
add_product("dress", 30.00, 15)
add_product("jeans", 35.00, 20)
add_product("hat", 20.00, 10)
add_product("scarf", 8.00, 20)
add_product("tote bag", 5.00, 30)
add_product("shirt", 35.00, 20)
add_product("t-shirt", 15.00, 30)
add_product("blazer", 40.00, 15)
add_product("coat", 60.00, 15)

'Added new product: coat'

In [7]:
print(f"Inventory populated. Total items: {len(inventory)}") # We use len to verify that exactly 10 items were added

Inventory populated. Total items: 10

In [8]:
print(inventory)

[{'name': 'skirt', 'price': 25.0, 'quantity': 10}, {'name': 'dress', 'price': 30.0, 'quantity': 15}, {'name': 'jeans', 'price': 35.0, 'quantity': 20}, {'name': 'hat', 'price': 20.0, 'quantity': 10}, {'name': 'scarf', 'price': 8.0, 'quantity': 20}, {'name': 'tote bag', 'price': 5.0, 'quantity': 30}, {'name': 'shirt', 'price': 35.0, 'quantity': 20}, {'name': 't-shirt', 'price': 15.0, 'quantity': 30}, {'name': 'blazer', 'price': 40.0, 'quantity': 15}, {'name': 'coat', 'price': 60.0, 'quantity': 15}]

In [9]:
add_product("SKIRT", "TWENTY", 10.00)

'Error: Invalid data types. Expected: name(str), price(float or int), quantity(int).'

In [55]:
add_product("SKIRT", 25, 10)

'Updated skirt quantity. New total: 20'


## 2.2 View Inventory
Function: `view_inventory()`

In [10]:
def view_inventory(): # 0. Visualize each product
    print("\n--- Current Inventory Details ---") 
    for product in inventory: 
    
        print(f"Name: {product.get('name', 'N/A').title()} | Price: {product.get('price', 0.0)}€ | Quantity: {product.get('quantity', 0)}")
         # 1. Explanation of display logic:
        # 1.1. .get('name', 'N/A'): Safety measure. If 'name' is missing, it returns 'N/A' instead of crashing.
        # 1.2. .title(): Good practice for UX. Converts "skirt" to "Skirt" for better readability.
        # 1.3. '|': Vertical bar used as a clean visual separator between fields.

In [11]:
# --- TEST AREA ---
view_inventory()

--- Current Inventory Details ---
Name: Skirt | Price: 25.0€ | Quantity: 10
Name: Dress | Price: 30.0€ | Quantity: 15
Name: Jeans | Price: 35.0€ | Quantity: 20
Name: Hat | Price: 20.0€ | Quantity: 10
Name: Scarf | Price: 8.0€ | Quantity: 20
Name: Tote Bag | Price: 5.0€ | Quantity: 30
Name: Shirt | Price: 35.0€ | Quantity: 20
Name: T-Shirt | Price: 15.0€ | Quantity: 30
Name: Blazer | Price: 40.0€ | Quantity: 15
Name: Coat | Price: 60.0€ | Quantity: 15


## 2.3 Search Product
Function: `search_product(name)`

## 2.4 Update Stock
Function: `update_stock(name, quantity)`

## 2.5 Remove Product
Function: `remove_product(name)`

## 2.6 Calculate Inventory Value
Function: `calculate_inventory_value()`


## 2.7 Make Purchase
Function: `make_purchase()`